<?xml version="1.0" encoding="utf-8"?>

<plugin>
	<name>Cookie Consent</name>
	<key>owmycookie</key>
	<description>Get your website to comply with the EU cookie law.</description>
    <author>SongPhi</author>
    <authorEmail>sales@songphi.com</authorEmail>
	<authorUrl>http://owdemo.songphi.com</authorUrl>
	<developerKey>21a0f37c3797eb620e85c5fe75ce5294</developerKey>
    <build>10000</build>
    <copyright>(c) 2015 SongPhi LLC.</copyright>
	<license>Apache 2.0</license>
    <licenseUrl>https://raw.githubusercontent.com/SongPhi/owmycookie/master/LICENSE</licenseUrl>
</plugin>